---
layout: post
title: links del 5 de mayo de 2010
tags:
- links
- ruby
---
= header "Links"

%ul
  %li
    = link_to('metawhere', 'http://github.com/ernie/meta_where')
    %p 
      Junto con 
      = link_to('metasearch', 'http://github.com/ernie/meta_search')
      pintan como un muy buen reemaplazo para searchlogic de binarylogic, que parece que no se subi&oacute; al bondi de Rails3. 
    
  %li 
    = link_to('AckMate', 'http://wiki.github.com/protocool/AckMate/usage')
    %p Para buscar de manera r&aacute;pida en TextMate, al menos hasta que salga la versi&oacute;n 2. Otro que ser durmi&oacute; en los laureles.  
  
  %li
    = link_to('The art of making a useful todo list', 'http://therealadam.com/archive/2010/05/26/the-art-of-making-a-useful-todo-list/')
    %p The Real Adam
    
  %li 
    = link_to('Prototyping With The Grid 960 CSS Framework ', "http://net.tutsplus.com/tutorials/html-css-techniques/prototyping-with-the-grid-960-css-framework/")
    %p Para arrancar con un buen framework css, que a mi entender, es lo suficientemente fácil como para no desmotivarte a los 15 minutos. 
    

%p Sigo luego...
      