!!!strict

%html{html_attrs}

  %head
    %title= page.title.match(/Vera$/) ? page.title : "#{page.title} – Vera"
    %meta{ :"http-equiv" => 'Content-Type', :content => 'text/html; charset=utf-8' }
    %meta{ :name => 'author', :content => 'Lucas Florio (http://www.lucasefe.com.ar)' }

    %link{ :href => FEED_URL, :rel => "alternate", :title => "Lucas Efe", :type => "application/atom+xml" }
    %link{ :rel => "stylesheet", :type => 'text/css', :href => '/fonts/Nobile/stylesheet.css' }
    %link{ :rel => "stylesheet", :type => 'text/css', :href => '/fonts/Spin-Cycle-OT/stylesheet.css' }
    %link{ :rel => "stylesheet", :type => 'text/css', :href => '/fonts/Bitstream-Vera-Sans-Mono/stylesheet.css' }

    %link{ :rel => "stylesheet", :type => 'text/css', :href => '/css/screen.css' }
    %link{ :rel => "stylesheet", :type => 'text/css', :href => '/css/thickbox.css' }
    %link{ :rel => "stylesheet", :type => 'text/css', :href => '/css/coderay.css' }
    
    %script{ :src => '/js/jquery.min.js', :type => 'text/javascript' }
    %script{ :src => '/js/jquery.cookie.js', :type => 'text/javascript' }
    %script{ :src => '/js/jquery.twitter.js', :type => 'text/javascript' }
    %script{ :src => '/js/thickbox-compressed.js', :type => 'text/javascript' }
    %script{ :src => '/js/app.js', :type => 'text/javascript' }

  %body
    #top-banner
      .left-box
        %span.author= link_to("Lucas Efe", '/about.html') 
      
      .right-box
        = link_to("<img src='/images/myspace.png' width='20' height='20' />", MYSPACE_URL)
        = link_to("<img src='/images/rss.png' width='20' height='20' />", FEED_URL)

    #site
      #sidebar
        %form#search{ :method => 'get', :action => 'http://www.google.com/search' }
          %input.text{ :type => 'text', :name => 'q' }
          %input{ :type => 'hidden', :name => 'sitesearch', :value => 'lucasefe.com.ar' }
          %input.button{ :type => 'submit', :value => 'Google' }

        #github
          %a{ :href => 'http://github.com/lucasefe' }
            %img{ :src => 'http://github.com/images/modules/header/logov3.png', :alt => 'github.com/lucasefe' }
        #working-with-rails
          %a{:href=>"http://www.workingwithrails.com/recommendation/new/person/7277-lucas-florio"}
            %img{:alt=>"Recommend Me", :src=>"http://workingwithrails.com/images/tools/compact-small.jpg"}
        #tweets
          
      #content= content
      
      %p#footer
        Powered by
        = link_to('Jekyll', 'http://github.com/henrik/jekyll')
        and
        = link_to('Disqus', 'http://disqus.com')
        = link_to('View source', 'http://github.com/lucasefe/lucasefe.com.ar')

      :javascript
      
        // Google Analytics
        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
        </script>

        <script type="text/javascript">
        var pageTracker = _gat._getTracker("UA-83541-8");
        pageTracker._trackPageview();
        
      